{{ define "main" }}
<hr>
{{ .Content }}

{{- /* The homepage should show only pages from the given sections (with `$.Site.Params.mainSections`).
Otherwise, we take the pages of a section. */ -}}
{{- $pages := .Pages }}
{{- if .IsHome }}
  {{- $pages = where $.Site.RegularPages "Type" "in" $.Site.Params.mainSections }}
{{- end }}

{{- range (where (.Paginate $pages).Pages "Params.hidden" "!=" true) }}
<article class="post">
  <h1><a href="{{ .Permalink }}" aria-label="{{ .Title }}">{{ .Title }}</a></h1>
  {{ partial "partials/components/post-meta.html" . }}
</article>
{{- end }}

{{- partial "pagination.html" (dict "Paginator" .Paginator "activeNumberOfPages" 2) }}
{{- end }}
